body{
	font-family: 'Roboto Condensed', sans-serif;
	p{
		font-size: 21px;
	}
	li{
		list-style: none;
	}
}
.header{
	padding: 0;
	color: $h_text_color;
	font-size: 17px;
	
	.row{
		margin: 0;
		>div{
			overflow: hidden;
		}
	}

	a.logo{
		float: left;
		margin: 6px 0 10px 5px;
		& + button{
			width: 80px;
			height: 100px;
			float: right;
			z-index: 999;
			background: #fff;
			position: absolute;
			right: 0;
			span.icon-bar{
				
			}
			span{
				font-size: 14px;
				color: #717c8c;
			}
		}
		@media(min-width: 768px){
			&{
				margin: 6px 0 0 0;
			}
		}
	}

	.header-top-phones{
		display: block;
		
		margin: 0 0 15px 0;
		text-align: center;
		p{
			line-height: 26px;
			color: #717c8c;
			font-size: 17px;
			margin: 0;
			span{
				font-size: 24px;
				color: #e9573f;
			}
		}
		@media(min-width: 768px){
			&{
				margin: 32px 0 0 0;
				padding: 0 0 0 66px;
				background: url('../images/top_phone.jpg') no-repeat;
				text-align: left;
			}
		}
	}
	.header-contacts-link{
		display: block;
		margin-top: 30px;
		padding: 6px 0 0 70px;
		line-height: 23px;
		background: url('../images/top_contacts.jpg') no-repeat;
		text-transform: uppercase;
		color: $h_text_color;
		&:hover{
			color: #333366;
			text-decoration: none;
		}
	}

	@media(min-width: 768px){
		&{
			height: 115px;
			.row{
				margin: 0 15px;
			}
		}
	}
}

.top_menu{
	width: 100%;
	background: #313a75;
	position: absolute;
	top: 0;
	z-index: 888;
	.container{
		padding: 0;
		ul.nav.navbar-nav{
			padding: 0 20px;
			a{
				font-size: 16px;
				color: #fff;
			}
		}
	}
}
@media(min-width: 768px){
	.top_menu{
		height: 73px;
		position: static;
		ul.nav.navbar-nav{
			padding: 0 !important;
		}
	}
}

.footer{
	background: url('../images/footer_bg.jpg') no-repeat center center;
	padding-top: 50px;

	.footer-phones p{
		font-size: 17px;
		line-height: 21px;
		color: $f_color_blue;
		margin: 0;
		span{
			font-size: 24px;
		}
	}


	ul{
		padding: 0;
	}
	a{
		color: #fff;
		text-transform: uppercase;
		@include transition-duration(0.5s);

		&:hover, &.active{
			color: #fc6e51;
			text-decoration: none;
		}
	}
	.foot_menu_ul{
		padding: 0;
		> li > a{
			display: block;
			font-size: 25px;
			font-weight: bold;
			margin-bottom: 25px;
		}
		ul{
			margin-bottom: 25px;
		}
		ul a{
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			line-height: 34px;
		}
	}

	.row.copy p{
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: $f_color_blue;
		text-transform: uppercase;
		text-align: center;
	}
}