body {
  font-family: 'Roboto Condensed', sans-serif; }
  body p {
    font-size: 21px; }
  body li {
    list-style: none; }

.header {
  padding: 0;
  color: #656599;
  font-size: 17px; }
  .header .row {
    margin: 0; }
    .header .row > div {
      overflow: hidden; }
  .header a.logo {
    float: left;
    margin: 6px 0 10px 5px; }
    .header a.logo + button {
      width: 80px;
      height: 100px;
      float: right;
      z-index: 999;
      background: #fff;
      position: absolute;
      right: 0; }
      .header a.logo + button span {
        font-size: 14px;
        color: #717c8c; }
    @media (min-width: 768px) {
      .header a.logo {
        margin: 6px 0 0 0; } }
  .header .header-top-phones {
    display: block;
    margin: 0 0 15px 0;
    text-align: center; }
    .header .header-top-phones p {
      line-height: 26px;
      color: #717c8c;
      font-size: 17px;
      margin: 0; }
      .header .header-top-phones p span {
        font-size: 24px;
        color: #e9573f; }
    @media (min-width: 768px) {
      .header .header-top-phones {
        margin: 32px 0 0 0;
        padding: 0 0 0 66px;
        background: url("../images/top_phone.jpg") no-repeat;
        text-align: left; } }
  .header .header-contacts-link {
    display: block;
    margin-top: 30px;
    padding: 6px 0 0 70px;
    line-height: 23px;
    background: url("../images/top_contacts.jpg") no-repeat;
    text-transform: uppercase;
    color: #656599; }
    .header .header-contacts-link:hover {
      color: #333366;
      text-decoration: none; }
  @media (min-width: 768px) {
    .header {
      height: 115px; }
      .header .row {
        margin: 0 15px; } }

.top_menu {
  width: 100%;
  background: #313a75;
  position: absolute;
  top: 0;
  z-index: 888; }
  .top_menu .container {
    padding: 0; }
    .top_menu .container ul.nav.navbar-nav {
      padding: 0 20px; }
      .top_menu .container ul.nav.navbar-nav a {
        font-size: 16px;
        color: #fff; }

@media (min-width: 768px) {
  .top_menu {
    height: 73px;
    position: static; }
    .top_menu ul.nav.navbar-nav {
      padding: 0 !important; } }

.footer {
  background: url("../images/footer_bg.jpg") no-repeat center center;
  padding-top: 50px; }
  .footer .footer-phones p {
    font-size: 17px;
    line-height: 21px;
    color: #c5cae9;
    margin: 0; }
    .footer .footer-phones p span {
      font-size: 24px; }
  .footer ul {
    padding: 0; }
  .footer a {
    color: #fff;
    text-transform: uppercase;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .footer a:hover, .footer a.active {
      color: #fc6e51;
      text-decoration: none; }
  .footer .foot_menu_ul {
    padding: 0; }
    .footer .foot_menu_ul > li > a {
      display: block;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 25px; }
    .footer .foot_menu_ul ul {
      margin-bottom: 25px; }
    .footer .foot_menu_ul ul a {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      line-height: 34px; }
  .footer .row.copy p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #c5cae9;
    text-transform: uppercase;
    text-align: center; }

.btn {
  display: block;
  outline: none;
  height: 45px;
  border-radius: 8px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0 34px;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .btn.btn-red {
    background: #e9573f;
    color: #fff;
    margin: 0 auto; }
    .btn.btn-red:hover {
      background: #d51e10; }
  .btn.btn-white {
    background: transparent;
    border: 1px dotted #9799a8;
    color: #c5cae9;
    float: right;
    padding: 0 28px; }
    .btn.btn-white:hover {
      background: #fff;
      color: #333366;
      border-style: solid; }

.home_works {
  overflow: hidden; }
  .home_works .home-works-zag {
    text-align: center; }
    .home_works .home-works-zag a {
      font-size: 48px;
      font-weight: bold;
      color: #e9573f;
      text-transform: uppercase;
      line-height: 174px; }
      .home_works .home-works-zag a:hover {
        color: #333366; }
  .home_works .home-works-elem {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical; }
    .home_works .home-works-elem > div {
      height: 180px; }
    .home_works .home-works-elem:nth-child(2n+1) > div:first-child {
      background: #313a75;
      position: relative;
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2; }
      .home_works .home-works-elem:nth-child(2n+1) > div:first-child:after {
        border-top: 30px solid #e9573f;
        top: 0; }
    .home_works .home-works-elem:nth-child(2n+2) > div:first-child {
      background: #e9573f;
      position: relative; }
      .home_works .home-works-elem:nth-child(2n+2) > div:first-child:after {
        border-bottom: 30px solid #313a75;
        bottom: 0; }
    .home_works .home-works-elem > div:after {
      display: block;
      content: '';
      width: 0;
      border: 30px solid transparent;
      position: absolute;
      left: 50%;
      margin-left: -30px; }
  .home_works .home-works-elem > div:first-child div {
    height: 90px;
    margin-top: 50px;
    position: relative; }
    .home_works .home-works-elem > div:first-child div p {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .home_works .home-works-elem > div:last-child {
    overflow: hidden; }
  .home_works p {
    font-weight: bold;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    line-height: 34px; }
  .home_works a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 3px 26px;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .home_works a:hover {
      text-decoration: none;
      background: #fff;
      color: #333366; }
  @media (min-width: 500px) {
    .home_works .home-works-elem {
      width: 50%;
      float: left; }
    .home_works .home-works-elem > div {
      height: 238px; }
    .home_works p {
      font-size: 30px; }
    .home_works a {
      font-size: 18px; } }
  @media (min-width: 850px) {
    .home_works .home-works-elem {
      width: 25%; } }

.home_center {
  min-height: 1250px;
  background: url("../images/home_c_bg.jpg"); }
  .home_center .home-center-top {
    padding-top: 60px;
    padding-bottom: 100px; }
    .home_center .home-center-top .home-center-top-elem a {
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
    .home_center .home-center-top .home-center-top-elem > a {
      display: block;
      padding-top: 100px;
      height: 200px;
      position: relative;
      font-weight: bold;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase; }
      .home_center .home-center-top .home-center-top-elem > a:hover {
        color: #fc6e51;
        text-decoration: none; }
      .home_center .home-center-top .home-center-top-elem > a:before {
        display: block;
        content: '';
        width: 75px;
        height: 77px;
        background-image: url("../images/h_c_icons2.png");
        position: absolute;
        top: 0; }
    .home_center .home-center-top .home-center-top-elem.plan div {
      background: url("../images/plan_bg.jpg"); }
    .home_center .home-center-top .row > div:nth-child(1) > a:before {
      background-position: 0px 0; }
    .home_center .home-center-top .row > div:nth-child(2) > a:before {
      background-position: -75px 0; }
    .home_center .home-center-top .row > div:nth-child(3) > a:before {
      background-position: -150px 0; }
  .home_center .home-center-bot .row {
    display: flex;
    margin-bottom: 10px; }
    .home_center .home-center-bot .row > div:first-child {
      margin-right: 10px; }
  .home_center .home-center-bot .home-center-bot-elem {
    background: rgba(66, 75, 124, 0.55);
    padding: 37px; }
    .home_center .home-center-bot .home-center-bot-elem a.hb_zag {
      display: block;
      height: 92px;
      line-height: 34px;
      font-size: 25px;
      padding-top: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      padding-left: 110px;
      margin-bottom: 12px;
      position: relative;
      text-decoration: none;
      -webkit-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -moz-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag:before {
        display: block;
        content: '';
        width: 92px;
        height: 92px;
        background-image: url("../images/h_c_icons.png");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb1:before {
        background-position: 0 0px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb2:before {
        background-position: 0 -92px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb3:before {
        background-position: 0 -184px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag.hb4:before {
        background-position: 0 -276px; }
      .home_center .home-center-bot .home-center-bot-elem a.hb_zag:hover {
        color: #fc6e51; }
    .home_center .home-center-bot .home-center-bot-elem p {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fff; }
  .home_center ul {
    padding: 0;
    margin: 0; }
    .home_center ul a {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #fc6e51; }
      .home_center ul a span {
        color: #fff;
        border-bottom: 1px solid #fff;
        line-height: 26px;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        transition-duration: 0.5s; }
      .home_center ul a:hover {
        text-decoration: none; }
        .home_center ul a:hover span {
          color: #fc6e51;
          border-bottom: 1px solid #fc6e51; }
