.home_works{

	overflow: hidden;

	.home-works-zag {
		text-align: center;
		a{
			font-size: 48px;
			font-weight: bold;
			color: #e9573f;
			text-transform: uppercase;
			line-height: 174px;
			&:hover{
				color: #333366;
			}
		}
	}

	.home-works-elem{
		width: 100%;	
		text-align: center;
		display: -webkit-box;
	    display: -moz-box;
	    display: box;
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    box-orient: vertical;
	    >div{
	    	height: 180px;
	    }
	    &:nth-child(2n+1) > div:first-child{
			background: $color2;
			position: relative;
			-webkit-box-ordinal-group: 2;
		    -moz-box-ordinal-group: 2;
		    box-ordinal-group: 2;
			&:after{
				border-top: 30px solid $color1;
				top: 0;
			}
		}
		&:nth-child(2n+2) > div:first-child{
			background: $color1;
			position: relative;
			&:after{
				border-bottom: 30px solid $color2;
				bottom: 0;
			}
		}
		> div:after{
			display: block;
			content: '';
			width: 0;
			border: 30px solid transparent;
			position: absolute;
			left: 50%;
			margin-left: -30px;
		}
	}
	.home-works-elem > div:first-child div{
		height: 90px;	
		margin-top: 50px;
		position: relative;	
		p{
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.home-works-elem > div:last-child{
		overflow: hidden;
	}
	p{
		font-weight: bold;
		font-size: 23px;
		color: #fff;
		text-transform: uppercase;
		margin: 0;
		line-height: 34px;
	}
	a{
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		border: 1px solid #fff;
		border-radius: 15px;
		padding: 3px 26px;
		display: inline-block;
		@include transition-duration(0.5s);
		&:hover{
			text-decoration: none;
			background: #fff;
			color: #333366;
		}
	}

	@media (min-width: 500px){
		.home-works-elem{
			width: 50%;
			float: left;
		}
		.home-works-elem > div {
			height: 238px;
		}
		.home-works-elem:nth-child(2n+2) > div:first-child{
			
		}
		p{
			font-size: 30px;
		}
		a{
			font-size: 18px;
		}
	}
	@media (min-width: 850px){
		.home-works-elem{
			width: 25%;
		}
	}
}