.home_center{
	min-height: 1250px;
	background: url('../images/home_c_bg.jpg');

	.home-center-top{
		padding-top: 60px;
		padding-bottom: 100px;
		.home-center-top-elem{
			a{
				@include transition-duration(0.5s);
			}
			>a{
				display: block;
				padding-top: 100px;
				height: 200px;
				position: relative;
				font-weight: bold;
				font-size: 25px;
				color: #fff;
				text-transform: uppercase;
				&:hover{
					color: #fc6e51;
					text-decoration: none;
				}
				&:before{
					display: block;
					content: '';
					width: 75px;
					height: 77px;
					background-image: url('../images/h_c_icons2.png');
					position: absolute;
					top: 0;
				}
			}
			&.plan div{
				background: url('../images/plan_bg.jpg');
			}
		}
		@for $i from 0 through 2{
			.row > div:nth-child(#{$i+1}) > a:before{
				background-position: -75px*$i 0;
			}
		}
	}

	
	.home-center-bot{
		.row{
			display: flex;
			margin-bottom: 10px;
			>div:first-child{
				margin-right: 10px;
			}
		}
		.home-center-bot-elem{

			background: rgba(66,75,124,0.55);
			padding: 37px;

			a.hb_zag{
				display: block;
				height: 92px;
				line-height: 34px;
				font-size: 25px;
				padding-top: 14px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				padding-left: 110px;
				margin-bottom: 12px;
				position: relative;
				text-decoration: none;
				@include transition-duration(0.5s);
				&:before{
					display: block;
					content: '';
					width: 92px;
					height: 92px;
					background-image: url('../images/h_c_icons.png');
					background-repeat: no-repeat;
					position: absolute;
					top: 0;
					left: 0;
				}
				@for $i from 0 through 3{
					&.hb#{$i+1}:before{
						background-position: 0 -92px*$i;
					}
				}
				&:hover{
					color: #fc6e51;
				}
				  
			}

			

			p{
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				font-size: 16px;
				color: #fff;
			}
		}
	}

	ul{
		padding: 0;
		margin: 0;
		a{
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			font-size: 16px;
			color: #fc6e51;
			span{
				color: #fff;
				border-bottom: 1px solid #fff;
				line-height: 26px;
				@include transition-duration(0.5s);
			}
			&:hover{
				text-decoration: none;
				span{
					color: #fc6e51;
					border-bottom: 1px solid #fc6e51;
				}
			}
		}
	}
}